@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    width: 100%;
}

.form{
    border-radius: .75rem;
    -webkit-box-shadow: -1px 3px 28px -4px rgb(255, 255, 255);
    -moz-box-shadow: -1px 3px 28px -4px rgba(255, 255, 255, 0.932);
    box-shadow: -1px 3px 28px -4px rgba(255, 255, 255, 0.966);;
    padding: 20px;
    max-width: 600px;
    min-height: 500px;
    opacity: 70%;
    margin: 0 auto;
}


h1{
    font-size: clamp(3.5rem, 100%, 18%);
    font-weight: bold;
}


.img_pokemon{
    width: 25%;
}

button{
    cursor: pointer;
}




